body {
    margin: 0px;
    padding: 0px;
}

.one {
    background-image: url(../images/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menuIcon {
    display: flex;
    height: 100%;
    margin: 0px auto;
    padding-top: 10px;
}

.logo {
    display: flex;
    height: 100px;
    margin: 0px auto;
    margin-top: 60px;
    margin-bottom: 20px;
}

.pocetnaTextOkvir {
    display: flex;
    justify-content: center
}

.pocetnaText {
    text-align: center;
    color: white;
    padding: 5px 0px;
    width: 150px;
    border-radius: 20px;
    background-color: rgba(35, 185, 255,0.7);
    margin: 20px 0px;
}

.glavni {
    font-size: 1.3em;
}

.crveni {
    color: red;
    
}

.sporedni {
    font-size: 0.7em;
}

.hireDugme {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.hire{
    color: white;
    background-color: rgba(35, 185, 255,0.7);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px 0px;
    cursor: pointer;
}

.arrow {
    display: flex;
    justify-content: center;
}

.arrowPic {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 20px;
    opacity: 0.75;
    position: relative;
    animation-name: bounce;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%   {left:0px; bottom:0px;}
    25%  {left:0px; bottom:1px;}
    50%  {left:0px; bottom:2px;}
    75%  {left:0px; bottom:2px;}
    100% {left:0px; bottom:1px;}
}

.two {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Naslov {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: #4E007C;
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 20px;    
}

.radovi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.rad {
    display: flex;
    width: 170px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
    visibility: hidden;
}

.dugme {
    text-align: center;
    margin-top: 3px;
    visibility: hidden;
}

.radText1 {
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-top: 2px;
    visibility: hidden;
}

.radTextDugme {
    color: white;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 1px 5px 2px 5px;
}

.radJedan{
    display: flex;
    flex-direction: column;
    background-image: url(../images/work1.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;     
}

.skriveni {
    visibility: hidden;
}

.rad:hover {
    background-image: none;
    background-color: #4E007C;    
}

.rad:hover .radTextDugme {
    border: 1px solid red;
}

.rad:hover .skriveni{
    visibility: visible;
}

.radDva {
    display: flex;
    flex-direction: column;
    background-image: url(../images/work2.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.radTri {
    display: flex;
    flex-direction: column;
    background-image: url(../images/work3.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.three {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.three > .Naslov {
    color: white;
}

.prostorOMeni {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.oMeni {
    align-self: center;
}

.ja {
    height: 125px;
    margin: 0px 20px;
}

.oMeni {
    padding-right: 5px;
}

.textOMeni {
    color:white;
}

.four {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.forma {
    padding: 0px 10px;
    margin: 40px 0px;
}

.five {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.divLogoFooter {
    display: flex;
    justify-content: center;
}

.logoFooter {
    margin-top: 20px;
    height: 67px;
}

.sMedia {
    display: flex;
    justify-content: center;
}

.sMediaLogo {
    height: 40px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.bezBoje {
    filter: grayscale(100%);
}

.sMediaLogo:hover {
    filter: none;
}

.textProstorFooter {
    text-align: center;
    margin-bottom: 30px;
}

.noneA {
    visibility: visible;
}