* {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
}

.one {
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../images/background1.jpg) no-repeat 50% 50%;
    display: table;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.menuDiv {
    height: 4px;
    background-color: white;
    margin: 5px 0px;
    border-radius: 25px;    
}

.menu {
    padding-top: 10px;
    width: 30px;
    display: block;
    margin: 0px auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    z-index: 5;
    transition: all 0.5s;
}

.overlay__content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
}

.navA {
    padding: 10px;
    font-size: 1.4em;
    display: block;
}

.overlay .closeBtn {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 1.7em;
}

.upire {
    cursor: pointer;
}

.homeGrupa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.divLogo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    width: 60%;
    align-self: center;
}

.pocetnaTextOkvir {
    display: flex;
    justify-content: center;
}

.pocetnaText {
    font-size: 1.6em;
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(35, 185, 255,0.7);
}

.glavni {
    font-size: 1.3em;
}

.crveni {
    color: red;    
}

.sporedni {
    font-size: 0.7em;
}

.hireDugme {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    width: auto;
    margin-top: 20px;
}

.hire{
    color: white;
    background-color: rgba(35, 185, 255,0.7);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px 0px;
    cursor: pointer;
}

.arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.arrowPic {
    height: 20px;
    opacity: 0.75;
    position: relative;
    animation-name: bounce;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%   {left:0px; bottom:0px;}
    25%  {left:0px; bottom:1px;}
    50%  {left:0px; bottom:2px;}
    75%  {left:0px; bottom:2px;}
    100% {left:0px; bottom:1px;}
}





.two {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
}

.radovi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.rad {
    display: flex;
    width: 170px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    visibility: hidden;
}

.dugme {
    text-align: center;
    margin-top: 3px;
    visibility: hidden;
}

.radText1 {
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-top: 2px;
    visibility: hidden;
    font-size: 0.8em;
}

.radTextDugme {
    color: white;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 1px 5px 2px 5px;
    font-size: 0.8em;
}

.radJedan{
    display: flex;
    flex-direction: column;
    background-image: url(../images/work1.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;     
}

.skriveni {
    visibility: hidden;
}

.rad:hover {
    background-image: none;
    background-color: #4E007C;    
}

.rad:hover .radTextDugme {
    border: 1px solid red;
}

.rad:hover .skriveni{
    visibility: visible;
}

.radDva {
    display: flex;
    flex-direction: column;
    background-image: url(../images/work2.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.radTri {
    display: flex;
    flex-direction: column;
    background-image: url(../images/work3.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.three {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.three > h2 {
    color: white;
}

.prostorOMeni {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.oMeni {
    align-self: center;
}

.ja {
    height: 125px;
    margin: 0px 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.oMeni:first-child {
    margin-left: 5px;
}

.oMeni:last-child {
    margin-right: 15px;
}

h5 {
    color: white;
    margin: 10px 0px; 
}

p {
    color: white;
}

.four {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.forma {
    padding: 0px 10px;
    margin: 0px 0px;
    margin-bottom: 40px;
}

.four > h2 {
    color: white;
}

h4 {
    color: white;
    margin-top: 0px;
    text-align: center;
}

#h4cls {
    display: none;
}

form {
    width: 100%;
    
}

fieldset {
    width: inherit;
    border: none;
    text-align: center;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: inherit;
    max-width: 800px;
    min-width: 320px;
    color: white;
    font-size: 0.9em;
    padding: 5px 5px 2px 5px;
    font-family: 'Libre Baskerville', serif;
}

textarea {
    width: inherit;
    max-width: 800px;
    min-width: 320px;
    height: 150px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 0.9em;
    font-family: sans-serif;
    padding-left: 5px;
    font-family: 'Libre Baskerville', serif;
    resize: none;
}

textarea:focus,
input:focus {
    background-color: black;
    opacity: 0.85;
}

::placeholder {
    color: white;
    opacity: 0.8;
}

button {
    display: flex;
    margin: 0px auto;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
}

button:hover {
    background-color: white;
    color: black;
}

.five {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.divLogoFooter {
    display: flex;
    justify-content: center;
}

.logoFooter {
    margin-top: 20px;
    height: 75px;
}

.sMedia {
    display: flex;
    justify-content: center;
}

.sMediaLogo {
    height: 40px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.sMediaLogo:hover {
    filter: none;
}

.textProstorFooter {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.noneA {
    visibility: visible;
}

/*
!!!!!!!!!!!!!!!!!!!!!
!!!! MEDIA QUERY !!!!
!!!!!!!!!!!!!!!!!!!!!
*/

@media screen and (min-width:960px) {
    .menu {
        padding-top: 10px;
        width: 30px;
        display: block;
        margin-right: 30px;
        margin-top: 5px;
    }
    
    .navA {
        font-size: 2em;
        color: #a7a7a7;
    }
    
    .navA:hover {
        color: white;
    }
    
    .overlay .closeBtn {
        font-size: 2.8em;
    }

    
    .homeGrupaDiv {
        margin-top: -100px;
    }
    
    .pocetnaText {
        font-size: 2em;
    }

    .hireDugme:hover {
        transform: scale(1.2);
    }

    h2 {
        font-size: 2em;
    }

    .radovi {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rad {
        min-height: 220px;
        min-width: 250px;
    }

    .radJedan, .radDva, .radTri {
        margin: 10px 20px;
    }

    .radText1 {
        margin: 15% 0px;
        font-size: 1.1em;
        padding: 0px 3px;
    }

    .radTextDugme {
        font-size: 1.1em;
        color: red;
    }

    .prostorOMeni {
        max-width: 960px;
        margin: 0px auto;
        margin-bottom: 40px;
    }

    .ja {
        height: 175px;
    }

    .oMeni {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
    }

    h4 {
        font-size: 1.4em;
        margin-bottom: 70px;
        margin-top: 10px;
    }

    .logoFooter {
        height: 115px;
    }

    .sMedia {
        margin-bottom: 10px;   
    }

    .sMediaLogo {
        height: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .bezBoje {
        filter: grayscale(100%);
    }

    .textProstorFooter {
        margin-bottom: 40px;
    }

    .textFooter {
        font-size: 1.2em;
    }
}

